{% extends "myurlex/base.html" %}

{% block content %}
<div class="post">
    <a class="btn btn-default" href="{% url "url_edit" pk=expandedurl.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url "url_delete" pk=expandedurl.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    <h1>Title: {{ expandedurl.title }}</h1>
    <p>Expanded URL:{{ expandedurl.destination }}</p>
    <p>Short URL:{{ expandedurl.origin }}</p>
    <p>HTTP STATUS: {{ expandedurl.status }}</p>
    <p>WayBack URL: {{ expandedurl.waybackUrl }}</p>
    <p>TimeStamp: {{expandedurl.timestamp }} </p>
</div>
{% endblock %}
